# Common style
Language: Cpp
BasedOnStyle: Google

AccessModifierOffset: -2
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 2
PackConstructorInitializers: BinPack
ColumnLimit: 110
ReflowComments: true
SortIncludes: false
IndentWidth: 2
TabWidth: 2